$screen__small: 600px !default;
$screen__medium: 900px !default;

$width__general: 950px !default;

$font-family__general: Roboto, sans-serif !default;

$header__heigth: 96px !default;

$color__primary: #333 !default;
$color__secundary: #fff !default;
$color__terciary: #2ecc71 !default;

$body__bg-color: #f1f2f6 !default;
$bg-color__primary: #fff !default;
$bg-color__secundary: #2ecc71 !default;
